

figure{
    display: inline-block;
    width: 27%;
    margin: 1.66%;
    padding: 0 10px 20px;
    vertical-align: top;
}

figure img{
    height: 245px;
    width: 245px;
    padding: 10px 0;
}

.right{
    @extend %rightFloat;
}

.img-carousel > div{
    @extend %center;
}

#aboutUs > img {
    display: block;
    margin: 0 auto;
}