html{
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: $black;
  }

h2{
    text-align:center;
    margin-top: 0;
    padding-top: 0;
}

p{
    padding: 15px 25px;
}

/****** Link Styles ********/

a{
    text-decoration: none;
    color: $midnight;
    padding: 10px;
}

a.button{
    color: $white;
}



